.About-container {
    padding-top: 25px;
    background-color: #ffffff;
}

.Intro {
    position: relative;
    text-align: center;
}


.About-container .Intro h1 {
    color: #0d0a0b;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    margin-bottom: 1.8rem;
    letter-spacing: -0.1rem;
    font-family: 'librebaskerville-bold', serif;
    font-size: 4.8rem;
    line-height: 1.375;
    margin-top: 0;
    margin: 0;
}

.Intro h3 {
    font-family: 'montserrat-semibold', sans-serif;
    font-size: 2rem;
    color: #EFCB68;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.25;
}
.Context {
    display: flex;
    flex-direction: row;
}

.Greeting, .Skills {
    flex: .5;
    text-align: left;
    margin-left: 25px;
}

.Skills__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    max-width: 40rem;
    margin-bottom: 0;
}

.Skills__list .skill {
    list-style: none;
    background: #eee;
    color: #333;
    display: inline-block;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    letter-spacing: 3px;
    font-family: 'montserrat-medium', sans-serif;
    margin-right: 1.5rem;
}


.Greeting h3 {
    font-size: 2.4rem;
    line-height: 1.25;
    margin-top: 6rem;
    margin-bottom: 1.8rem;
    font-family: 'montserrat-medium', sans-serif;
    color: #0d0a0b;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

.Skills h3 {
    padding-left: 40px;
    font-size: 2.4rem;
    line-height: 1.25;
    margin-top: 6rem;
    margin-bottom: 1.8rem;
    font-family: 'montserrat-medium', sans-serif;
    color: #0d0a0b;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility; 
}

.Greeting p {
    font-family: 'librebaskerville-regular', serif;
    font-size: 1.6rem;
    line-height: 1.875;
    color: #5f5f5f;
}
h1 {
    font-family: 'librebaskerville-bold', serif;
    font-size: 4.8rem;
    line-height: 1.375;
    margin-top: 0;
}

p {
    font-family: 'montserrat-regular', sans-serif;
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 3.6rem;
    color: #0d0a0b;
}