.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    width: 100%;
    background-color: #282c34;
  }
  
  .Logo-container {
    display: flex;
    object-fit: contain;
    height: 30px;
    width: 30px;
    border: 2px solid black;
  }
  
  .Button-container button {
    margin: 4px;
    padding: 4px;
  }
  
  .Button-container {
    background-color: #0ACDFF;
    padding: 4px;
    border: 2px solid black;
    border-radius: 10% / 50%;
  }